/* this inports a style sheet from another place in this case a preset style sheet */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
    /* set the main body color to this */
  --primary-color: #007AF3;
}

body {
    /* background color of the page  */
  background: #F2F2F2;
  margin: 0;
  /* font for the body  */
  font-family: 'Poppins';
}

.navbar {
    /* background color for the navbar */
  background: white;
  /* padding gives spaces between the text and border */
  padding: 1em;
}

.navbar .logo {
    /* text decoration sets the apperance of lines in the text */
  text-decoration: none;
  /* font weight is the boldness of the font */
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar nav {
  display: none;
}

.navbar .container {
    /* webkit box lets me reflect the content in a ceratin direction  */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #444444;
}

ul {
    /* list style types, set markers in a list */
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  section {
    padding: 5em 2em;
  }
  
  .hero {
    text-align: center;
  }
  
  .left-col .subhead {
      /* text transform sets all text to a certain way in this case uppercase */
    text-transform: uppercase;
    font-weight: bold;
    color: gray;
    /* spacing between letters */
    letter-spacing: .3em;
  }
  
  .left-col h1 {
    font-size: 2.5em;
    /* height between line and borders */
    line-height: 1.3em;
    margin-top: .2em;
  }
  
  .left-col .primary-cta {
    background: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: .6em 1.3em;
    font-size: 1.4em;
    border-radius: 5em;
    font-weight: bold;
    display: inline-block;
  }
  
  .left-col .watch-video-cta {
    display: block;
    margin-top: 1em;
  }
  
  .left-col .watch-video-cta img {
    margin-right: .5em;
  }