/* this inports a style sheet from another place in this case a preset style sheet */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
    /* set the main body color to this */
  --primary-color: #007AF3;
}

body {
    /* background color of the page  */
  background: #F2F2F2;
  margin: 0;
  /* font for the body  */
  font-family: 'Poppins';
}

.navbar {
    /* background color for the navbar */
  background: white;
  /* padding gives spaces between the text and border */
  padding: 1em;
}

.navbar .logo {
    /* text decoration sets the apperance of lines in the text */
  text-decoration: none;
  /* font weight is the boldness of the font */
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar nav {
  display: none;
}

.navbar .container {
    /* webkit box lets me reflect the content in a ceratin direction  */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #444444;
}

ul {
    /* list style types, set markers in a list */
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  section {
    padding: 5em 2em;
  }
  
  .hero {
    text-align: center;
  }
  
  .left-col .subhead {
      /* text transform sets all text to a certain way in this case uppercase */
    text-transform: uppercase;
    font-weight: bold;
    color: gray;
    /* spacing between letters */
    letter-spacing: .3em;
  }
  
  .left-col h1 {
    font-size: 2.5em;
    /* height between line and borders */
    line-height: 1.3em;
    margin-top: .2em;
  }
  
  .left-col .primary-cta {
    background: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: .6em 1.3em;
    font-size: 1.4em;
    border-radius: 5em;
    font-weight: bold;
    display: inline-block;
  }
  
  .left-col .watch-video-cta {
    display: block;
    margin-top: 1em;
  }
  
  .left-col .watch-video-cta img {
    margin-right: .5em;
  }
  /* css to the images  */
  .hero-img {
    width: 70%;
    margin-top: 3em;
  }
  
  section.features-section {
    background: #20272E;
    color: white;
  }
  
  ul.features-list {
    margin: 0;
    padding-left: .1em;
    /* displays the text in a gird layout */
    display: -ms-grid;
    display: grid;
/* setting the columns of the grid 1 rem = 16 pixels  */
    -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  }
  
  ul.features-list li {
    font-size: 1.1em;
    margin-bottom: 1em;
    margin-left: 2em;
    position: relative;
  }
  
  ul.features-list li:before {
    content: '';
    left: -2em;
    position: absolute;
    width: 20px;
    height: 20px;
    /* background size of the image  */
    background-size: contain;
    margin-right: .5em;
  }
  
  .features-section img {
    display: none;
  }
  
  .testimonials-section {
    background: var(--primary-color);
    color: white;
  }
  
  /* adding css to a list  */
  .testimonials-section li {
      /* giving it a background color  */
    background: #006BD6;
    text-align: center;
    padding: 2em 1em;
    width: 80%;
    margin: 0 auto 5em auto;
    border-radius: 1em;
  }
  
  /* css for image adding borders to them */
  .testimonials-section li img {
    width: 5em;
    height: 5em;
    border: 5px solid #006BD6;
    border-radius: 50%;
    margin-top: -4.5em;
  }
  
  /* this is the start of header 2 */
  h2 {
    font-size: 2em;
  }